<div class='content'>
  <label>מגדר</label>
  <div class='row'>
    <app-toggle text='זכר' field='sex' [von]='"male"' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='נקבה' field='sex' [von]='"female"' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='אחר' field='sex' [von]='"other"' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <label>קבוצת גיל</label>
  <div class='row'>
    <app-toggle text='0-17' field='age' [von]='10' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='18-30' field='age' [von]='25' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='31-40' field='age' [von]='35' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='41-50' field='age' [von]='45' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='51-60' field='age' [von]='55' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='61-70' field='age' [von]='65' [record]='record' (changed)='send()'></app-toggle>
    <app-toggle text='71-120' field='age' [von]='75' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <label>תסמינים</label>
  <div class='row'>
    <app-toggle text='הרגשה כללית רעה' field='general_feeling' [von]='"feel_bad"' [voff]='"feel_good"' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <div class='row'>
    <app-toggle text='שיעולים או נזלת' field='toplevel_symptoms_cough' [von]='true' [voff]='false' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <div class='row'>
    <app-toggle text='קוצר נשימה' field='symptoms_breath_shortness' [von]='true' [voff]='false' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <div class='row'>
    <app-toggle text='איבוד את חוש הטעם או הריח' field='symptoms_smell_taste_loss' [von]='true' [voff]='false' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <div class='row'>
    <app-toggle text='כאבי גרון' field='symptoms_sore_throat' [von]='true' [voff]='false' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <div class='row'>
    <app-toggle text='חום גוף מעל 38 מעלות' field='temperature' [von]='39' [voff]='37' [record]='record' (changed)='send()'></app-toggle>
  </div>
  <div class='prediction'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" >
      <text x=100 y=100 dy=25 *ngIf='prediction !== null'>{{prediction.toFixed(1)}}%</text>
    </svg>
  </div>
</div>